<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s20cxq.testhelloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConstraintLayoutActivity"></activity>
        <activity android:name=".BasicUiActivity" />
        <activity android:name=".UserCenterActivity">
            <intent-filter>
                <action android:name="com.s20cxq.UserCenterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService" />

        <receiver android:name=".MyBroadCastReceiver">
            <intent-filter>
                <action android:name="com.s20cxq.MyBroadCastReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>